#calculator {
    -fx-background-color: #a8d5e5;
    -fx-padding: 10px;
}

#display {
    -fx-background-color: #a8d5e5;
    -fx-text-fill: #000000;
    -fx-font-size: 32px;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #bee0ec;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #c9c9c9;
}

#equals-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
}

#equals-button:pressed {
    -fx-background-color: #004a99;
}
